<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Meu Site</title>
</head>
<body>
    <header>
        <h1>Thimotio Jeronimo</h1>
    </header>
    <nav>
        <a href = "/"> Página Inicial</a>
        <a href="/sobre"> Quem somos</a>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}

    </main>
    <footer>
        <p>&copy; Thimotio Jeronimo 2024</p>
    </footer>
</body>
</html>