<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico.png" type="image/x-icon">
    
</head>
<body>
    <header>
        <img src="../static/favicon.ico.png">
        <h1>Thimo Blog's</h1>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <h5>&copy; 2024 Thimo Blog's</h5>
    </footer>
</body>
</html>